:root {
    --body_gradient_left: #7200d0;
    --body_gradient_right: #c800c1;
    --form_bg: #ffffff;
    --input_bg: #e5e5e5;
    --input_hover: #eaeaea;
    --submit_bg: #1fcc44;
    --submit_hover: #40e263;
    --icon_color: #6b6b6b;
}
body {
    height: 100vh;
    background: #43cea2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#form_wrapper {
    width: 900px;
    height: 600px;
    margin: 30px auto;
    background-color: var(--form_bg);
    border-radius: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5vw;
    padding: 5vh 15px;
}
#form_left {
    display: flex;
    justify-content: center;
    align-items: center;
}

#form_left img {
    width: 350px;
    height: 350px;
}
#form_right {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 10% 5%;
}
.input_container {
    background-color: var(--input_bg);
    display: flex;
    align-items: center;
}

.input_container:hover {
    background-color: var(--input_hover);
}

.input_container,
#input_submit {
    height: 60px;
    border-radius: 30px;
    width: 100%;
}

.input_field {
    color: var(--icon_color);
    background-color: inherit;
    width: 80%;
    border: none;
    font-size: 1.3rem;
    font-weight: 400;
}

.input_field:hover,
.input_field:focus {
    /* remove the outline */
    outline: none;
}

h1,
span {
    text-align: center;
}

/* shift it a bit lower */
#create_account {
    display: block;
    position: relative;
    top: 30px;
}

a:hover {
    color: var(--submit_hover);
}

.input_container i {
    color: var(--icon_color);
    padding-left: 30px;
}
@media screen and (max-width: 768px) {
    /* make the layout  a single column and add some margin to the wrapper */
    #form_wrapper {
        grid-template-columns: 1fr;
        margin-left: 10px;
        margin-right: 10px;
    }
    /* on small screen we don't display the image */
    #form_left {
        display: none;
    }
}